@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
      display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    display: block;
}

.flaticon-001-like:before { content: "\f100"; }
.flaticon-002-like:before { content: "\f101"; }
.flaticon-003-favourite:before { content: "\f102"; }
.flaticon-004-comment:before { content: "\f103"; }
.flaticon-005-share:before { content: "\f104"; }
.flaticon-006-newsfeed:before { content: "\f105"; }
.flaticon-007-tag:before { content: "\f106"; }
.flaticon-008-notification:before { content: "\f107"; }
.flaticon-009-message:before { content: "\f108"; }
.flaticon-010-user:before { content: "\f109"; }
.flaticon-011-add:before { content: "\f10a"; }
.flaticon-012-verified:before { content: "\f10b"; }
.flaticon-013-image:before { content: "\f10c"; }
.flaticon-014-gif:before { content: "\f10d"; }
.flaticon-015-poll:before { content: "\f10e"; }
.flaticon-016-emoji:before { content: "\f10f"; }
.flaticon-017-friends:before { content: "\f110"; }
.flaticon-018-location-pin:before { content: "\f111"; }
.flaticon-019-hashtag:before { content: "\f112"; }
.flaticon-020-add-friend:before { content: "\f113"; }
.flaticon-021-follower:before { content: "\f114"; }
.flaticon-022-trending:before { content: "\f115"; }
.flaticon-023-home:before { content: "\f116"; }
.flaticon-024-stories:before { content: "\f117"; }
.flaticon-025-dislike:before { content: "\f118"; }
.flaticon-026-facebook:before { content: "\f119"; }
.flaticon-027-twitter:before { content: "\f11a"; }
.flaticon-028-instagram:before { content: "\f11b"; }
.flaticon-029-youtube:before { content: "\f11c"; }
.flaticon-030-messenger:before { content: "\f11d"; }
.flaticon-031-snapchat:before { content: "\f11e"; }
.flaticon-032-twitch:before { content: "\f11f"; }
.flaticon-033-linkedin:before { content: "\f120"; }
.flaticon-034-skype:before { content: "\f121"; }
.flaticon-035-google-plus:before { content: "\f122"; }
.flaticon-036-pinterest:before { content: "\f123"; }
.flaticon-037-spotify:before { content: "\f124"; }
.flaticon-038-dribbble:before { content: "\f125"; }
.flaticon-039-reddit:before { content: "\f126"; }
.flaticon-040-tumblr:before { content: "\f127"; }
.flaticon-041-whatsapp:before { content: "\f128"; }
.flaticon-042-line:before { content: "\f129"; }
.flaticon-043-telegram:before { content: "\f12a"; }
.flaticon-044-foursquare:before { content: "\f12b"; }
.flaticon-045-swarm:before { content: "\f12c"; }
.flaticon-046-deviantart:before { content: "\f12d"; }
.flaticon-047-flickr:before { content: "\f12e"; }
.flaticon-048-tik-tok:before { content: "\f12f"; }
.flaticon-049-viber:before { content: "\f130"; }
.flaticon-050-wechat:before { content: "\f131"; }