    nav ul {
            top: 0px;
            left: 0px;
            right: 0px;
            height: 60px;
            width: 100%;
            background-color: #F5E978;
            padding: 0px;
            position: fixed;
            z-index: 2;
            list-style-type: none;
        }

        .icon {
            margin: 0px;
            display: inline-flex;
            justify-content: space-between;
        }

        nav ul li {
            margin: auto 15px;
        }

        .center {
            margin-top: -18px;
        }

        .right a {
            padding: 5px;
            margin-top: 20px;
        }

        input[type="search"] {
            padding-left: 10px;
            float: left;
            height: 20px;
            border-radius: 30px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border: none;
        }

        nav ul li button {
            background-color: #EEF0ED;
            height: 20px;
            border: none;
            border-radius: 30px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        .container-fluid {
        height: 50px;
        text-align: center;
        width: 1100px;
        color: black;
        max-width: 100%;
    }

    #top_wrap {
        margin: 0px auto;
        position: fixed;
        z-index: 999;
        top: 0px;
        left: 0px;
        right: 0px;
     
    }

  


    #my_nav {
        margin: auto;
    }

    .menuselect>button {
        width: 370px;
        height: 95px;
        font-size: 30px;
        border: none;
        outline: none;
    }

    .jumbotron {
        height: 400px;
        width: 1150px;
        margin: 100px auto 0px auto;
        text-align: center;
        background-color: #F5E978;
    }

    #profile_wrap>img {
        width: 200px;
        border-radius: 100%;
        margin-left: -750px;
        margin-top: 50px;
        border: 1px solid #CCC;
    }

    #pro_btn>ul>li {
        list-style: none;
        font-size: 30px;
        display: inline-block;
        text-align: center;
        margin-right: 40px;
       

    }

    #pro_btn {
        margin: -180px -300px 0px 0px;
    }

    #foll_btn {
        border: 0;
        background-color: #F5E978;
    }

    #pro_edit {
        border: solid 0.2px #CCC;
        background-color: #DDD;
        border-radius: 5px;
        width: 300px;
        height: 35px;
        font-size: 20px;
       
    }

    #pro_name {
        font-size: 20px;
        margin: 10px auto;

    }

    #pro_bio {
        font-size: 20px;
        margin: 10px auto;
    }

    .menuselect a img {
        
        width: 50px;
        height: 50px;
        margin: 10px;

    }

    #nav_wrap hr {

        height: 1px;
        background-color: gray;
    }

 
    #nav_wrap {
        width: 1150px;
        margin: 100px auto 0px auto;
    }

    .menuselect {
        margin: 0 465px;
    }

















