<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gnjk.dao.mapper.mybatisAlarmDao">

<insert id ="insertAlarm" parameterType ="com.gnjk.chat.domain.Alarm">
      insert into chat.alarm(type, sender, receiver)
      values (#{type},#{sender},#{receiver}) 
   </insert>
   
   <select id="selectAlarm" resultType="com.gnjk.domain.Alarm">
   		select * from chat.alarm(type, sender, receiver)
   		where receiver = #{receiver}  
   </select>
   
   </mapper>