/*공통인부분*/
body {
	background-color: #fcf9f6;
}

#total_wrap {
	margin: 80px auto;
	width: 1500px;
}

#edit_menu {
	margin-top: 100px;
	height: 600px;
	width: 490px;
	float: left;
	text-align: center;
	border-right: solid 0.2px #CCC;
}

#menu_btn {
	margin-top: 10px;
}
/*공통 끝*/
#edit_table {
	margin: 100px auto;
	height: 600px;
	width: 650px;
	float: right;
}

#password {
	width: 300px;
	height: 30px;
	margin: 10px auto;
}

td {
	font-weight: bold;
	font-size: 20px;
}

#mem_del {
	margin-left: 100px;
	font-size: 18px;
	font-weight: bold;
	background-color: chocolate;
	color: white;
	width: 100px;
	height: 40px;
}

/*드롭다운*/
.dropbtn {
	background-color: white;
	color: black;
	margin-top: 10px;
	height: 40px;
	width: 300px;
	font-size: 16px;
	border: 0.2px solid #CCC;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content div {
	color: black;
	height: 40px;
	width: 300px;
	text-align: center;
	display: block;
	margin: 5px auto;
}

.dropdown #sub_dd:hover {
	background-color: #f1f1f1;
	cursor: pointer;
}

.show {
	display: block;
}

h3 {
	display: inline;
}

#menu_btn>button {
	background-color: #fcf9f6;
	border: none;
	font-size: 35px;
	font-weight: bold;
	width: 300px;
	margin: 50px auto;
}

#menu_btn>button:hover {
	cursor: pointer;
}