@charset "UTF-8";

/* navi */
nav ul {
	top: 0px;
	left: 0px;
	right: 0px;
	height: 60px;
	width: 100%;
	background-color: #F5E978;
	padding: 0px;
	position: fixed;
	z-index: 2;
	list-style-type: none;
}

.icon {
	margin: 0px;
	display: inline-flex;
	justify-content: space-between;
}

nav ul li {
	margin: auto 15px;
}

.right a {
	padding: 5px;
	margin-top: 20px;
}

input[type="search"] {
	padding-left: 10px;
	float: left;
	height: 30px;
	border-radius: 30px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border: none;
}

nav ul li button {
	background-color: #EEF0ED;
	height: 30px;
	border: none;
	border-radius: 30px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/*Logo*/
.center {
	margin-top: -18px;
}

/* chat */
body {
	background-color: #FCF9F6;
	font-family: Arial;
}

/* 스크롤 바 없애기 */
::-webkit-scrollbar {
	display: none;
}

aside {
	width: 330px;
	height: 900px;
	background-color: #F6EECC;
	display: inline-block;
	font-size: 15px;
	vertical-align: top;
}

#container {
	width: 900px;
	height: 900px;
	background: #eff3f7;
	margin: 60PX auto;
	padding: inherit;
	font-size: 0;
	border-radius: 5px;
	overflow: hidden;
}

aside header span {
	border-bottom: 1px solid #c4c4c4;
	width: 130px;
	display: inline-flex;
	margin: 50px -80px 10px 100px;
	list-style-type: none;
	text-decoration-line: underline;
}

#srch_b {
	background: none;
	border: none;
	margin: 0 -5px 0 -15px;
}

.srch_bar input {
	font-size: 16px;
	padding: 0 0 5px 10px;
	border-radius: 0px;
	align-content: center;
	width: 100%;
	background: none;
}

aside {
	width: 330px;
	height: 900px;
	background-color: #F6EECC;
	display: inline-block;
	font-size: 15px;
	vertical-align: top;
}

main {
	width: 570px;
	height: 900px;
	display: inline-block;
	font-size: 15px;
	vertical-align: top;
}

aside ul {
	padding-left: 0;
	margin: 0;
	list-style-type: none;
	overflow-y: scroll;
	height: 900px;
}

aside li {
	padding: 20px 0;
}

aside li:hover {
	background-color: #F2D665;
}

/* footer*/
main footer {
	height: 155px;
	padding: 10px 15px 10px 15px;
	margin-bottom: -110px;
}

main footer #message {
	resize: none;
	border: none;
	display: block;
	width: 100%;
	height: 100px;
	border-radius: 3px;
	padding: 10px;
	font-size: 13px;
}

main footer #message::placeholder {
	color: #ddd;
}

main footer img {
	height: 30px;
	cursor: pointer;
	margin-bottom: -15px;
}

.send {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#sendBtn {
	width: 100px;
	height: 100px;
	font-size: 20px;
	letter-spacing: 2px;
	background-color: #F5E978;
	border: none;
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}

#sendBtn:hover {
	background-color: #F2D665;
	box-shadow: 0px 15px 20px #F2D665;
	color: #fff;
	transform: scale(1.1);
}

#sendBtn a:hover {
	color: #fff;
}

h2, h3 {
	margin: 0;
}

aside li img {
	border-radius: 50%;
	margin-left: 20px;
	margin-right: 8px;
}

aside li div {
	display: inline-block;
	vertical-align: top;
	margin-top: 12px;
}

aside li h2 {
	font-size: 14px;
	color: #5E5E5E;
	font-weight: normal;
	margin-bottom: 5px;
}

aside li h3 {
	font-size: 12px;
	color: #5E5E5E;
	font-weight: normal;
}

main header {
	height: 50px;
	padding: 30px 20px 30px 40px;
}

main header>* {
	display: inline-block;
	vertical-align: top;
}

main header img:first-child {
	border-radius: 50%;
}

main header img:last-child {
	width: 24px;
	margin-top: 8px;
}

main header div {
	margin-left: 10px;
	margin-right: 145px;
}

main header h2 {
	font-size: 16px;
	margin-bottom: 5px;
}

main header h3 {
	font-size: 14px;
	font-weight: normal;
	color: #5e616a;
}

/* 채팅 공간 */
#chatdata {
	list-style-type: none;
	overflow-y: scroll;
	height: 600px;
	border-top: 2px solid #5e616a;
	border-bottom: 2px solid #5e616a;
}


/*mypage*/ 
  .container-fluid {
        height: 50px;
        text-align: center;
        width: 1100px;
        max-width: 100%;
    }

    #top_wrap {
        margin: 0px auto;
        position: fixed;
        z-index: 999;
        top: 0px;
        left: 0px;
        right: 0px;
       
    }

  
    #nav_wrap{
        
        margin: 0 auto;
    }

    #my_nav {
        margin: auto;
    }

    .menuselect>button {
        width: 370px;
        height: 95px;
        font-size: 30px;
        border: none;
        outline: none;
    }


    #profile_wrap>img {
        width: 200px;
        border-radius: 100%;
        margin-left: -750px;
        margin-top: 50px;
        border: 1px solid #CCC;
    }

    #pro_btn>ul>li {
        list-style: none;
        font-size: 30px;
        display: inline-block;
        text-align: center;
        margin-right: 40px;
        

    }

    #pro_btn {
        margin: -180px -300px 0px 0px;
    }

    #foll_btn {
        border: 0;
        background-color: #F5E978;
    }

    #pro_edit {
        border: solid 0.2px #CCC;
        background-color: #DDD;
        border-radius: 5px;
        width: 300px;
        height: 35px;
        font-size: 20px;
       
    }

    #pro_name {
        font-size: 20px;
        margin: 10px auto;

    }

    #pro_bio {
        font-size: 20px;
        margin: 10px auto;
    }
    /* menu선택 */

    .menuselect a img {
     
        width: 50px;
        height: 50px;
        margin: 10px;

    }

    #nav_wrap hr {

        height: 1px;
        background-color: gray;
    }

 
    #nav_wrap {
        height: 100px;
        width: 1150px;
        margin: 10px auto 0px auto;
    }

    .menuselect {
        margin: 0 465px;
    }
          
